
.moreinfo{
    cursor: grab;
}
.wallp {
position: relative;
text-align: center;
color: white;
border: dotted;
}

.centered {
position: absolute;
top: 10%;
left: 20%;
}
p{
text-decoration-line: underline ;
}
.main{
background-color: skyblue;
color: red;
}

